# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Next.js
.next/

# Parcel-bundler
.cache/

# Svelte
.svelte-kit/

# Typescript
*.tsbuildinfo
